<div class="card">
    <div style="border-radius: 200px;height: 200px;width: 200px;background: #f8faf5;margin: 0 auto;">
        <img style="width: 188px;" src="https://www.pngmart.com/files/20/Success-PNG-HD.png">
    </div>
    <h2>Order has Placed Successfully!</h2>
    <strong style="margin: left 32px ;">Thankyou ! Keep Shopping with Popular E-Commerce</strong>
    <h5 style="margin-top: 20px;margin-left: 40px;color: green;">Kindly Pay Amount&nbsp;<strong style="color: blue;">${{totalamount}}</strong>&nbsp;during delivery</h5>
</div>