<nav class="navbar bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" style="color: white;">E-commerce Website</a>
        <button routerLink="/" class="btn btn-warning">
            <i class="fa-solid fa-backward"></i>&nbsp;BACK
        </button>
    </div>
</nav>

<!-- Product display -->
<div class="container">
    <div class="row product-detail">
        <div class="col-sm-4">
            <img class="product-img img-fluid" src="https://imgs.search.brave.com/R8KK_9FCry5ruud0tfPbEJ_1j18fhSxshTaad3XBUkA/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9odHRw/Mi5tbHN0YXRpYy5j/b20vRF9OUV9OUF83/NDcxMDUtTUxCNzA3/OTkyMjUzODRfMDgy/MDIzLVcud2VicA" alt="HP 8GB Pendrive">
            <div>
                <button class="btn btn-primary">Buy Now</button> &nbsp;
                <button class="btn btn-success">Add to cart</button>
            </div>
        </div>
   
        <!-- Right side -->
        <div class="col-sm-8">
            <div>
                <h1>HP 8GB Pendrive</h1>
                <p style="color: green;">Special Price</p>
                <h3>Price: $30</h3>
                <strong>Category: &nbsp;Electronics</strong><br>
                <strong>Description:</strong><br>
                <p>gdjfasgdsbcnbvhsdvcsv jdjhsdgfjs jhsdghjsd jsgjhsdg</p>
                <p style="color: green;">Discount: 12 %</p><br>
                <strong>Stocks: 10 Units left</strong>
            </div>
        </div>
    </div>
</div>
