<!-- <nav class="navbar bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" style="color: white;">E-commerce Website</a>
        <button routerLink="/" class="btn btn-warning">
            <i class="fa-solid fa-backward"></i>&nbsp;BACK
        </button>
    </div>
</nav> -->

<!-- Product display -->
<div class="container">
    <div class="row product-detail">
        <div class="col-sm-4">
            <img class="product-img img-fluid" src="{{productdata.images[0]}}">
            <div>
                <button class="btn btn-primary">Buy Now</button> &nbsp;
                <button (click)="addtocart()" *ngIf="showadd" class="btn btn-success">Add to cart</button>
                <button (click)="removeitem()" *ngIf="showremove" class="btn btn-danger">Remove Item</button>
            </div>
        </div>
   
        <!-- Right side -->
        <div class="col-sm-8">
            <div>
                <h1>{{productdata?.title}}</h1>
                <p style="color: green;">Special Price</p>
                <h3>Price: ${{productdata?.price}}</h3>
                <strong>Category:&nbsp;{{productdata?.category}}</strong><br>
                <strong>Description:</strong><br>
                <p>{{productdata?.description}}</p>
                <p style="color: rgb(66, 111, 66);">Discount: {{productdata?.discountPercentage}}%</p><br>
                <strong class="text-danger">Stocks: {{productdata?.stock}} Units left</strong>
            </div>
        </div>
    </div>
</div>
